<!DOCTYPE html>
<html>

  <head>
    <style>
      @page { 
        margin: 30px; 
      }

      html {
        background: #FFF;
      }

      h1 {
        font-size: 24px;
      }

      h2 {
        margin-top: 50px;
        font-size: 24px;
      }

      h3 {
        margin-top: 30px;
        font-size: 16px;
      }

      table {
        width: 100%;
        border-spacing: 0px;
        border: none;
        font-size: 20px;
        margin-bottom: 20px;
      }

      tr {
        font-size: 20px;
      }

      tr:nth-child(even) {
        background: #F4F9F8;
      }

      td {
        padding: 10px;
        border: none;
        border-spacing: none;
        font-size: 16px;
        color: #000;
      }

      td:last-child {
        float: right;
        word-break: break-word;
      }

      td span {
        padding: 5px;
        display: flex;
        justify-content: flex-end;
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      header h1 {
        font-size: 24px;
        font-weight: normal;
      }

      header p {
        font-size: 24px;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <header>
      <div>
        <h1>Ansökan gäller för perioden</h1>
      </div>
      <div>
        <p>
          {{period.startDate}} - {{period.endDate}}
        </p>
      </div>
    </header>

    <section>
      <table>
        {{#each notes}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.text}}</td>
        </tr>
        {{/each}}
      </table>
    </section>

    {{!-- Sections for person --}}
    {{#each persons}}
    <section>
      <h2>
        {{#if (eq this.role 'applicant')}} Sökande {{/if}}
        {{#if (eq this.role 'coApplicant')}} Medsökande {{/if}}
      </h2>
      <table>
        <tr>
          <td>Personnummer</td>
          <td>{{this.personalNumber}}</td>
        </tr>
        <tr>
          <td>Förnamn</td>
          <td>{{this.firstName}}</td>
        </tr>
        <tr>
          <td>Efternamn</td>
          <td>{{this.lastName}}</td>
        </tr>
        <tr>
          <td>Mobiltelefon</td>
          <td>{{this.phone}}</td>
        </tr>
        <tr>
          <td>E-post</td>
          <td>{{this.email}}</td>
        </tr>
        <tr>
          <td>Sysselsättning</td>
          <td>
            {{this.occupation}}
          </td>
        </tr>
      </table>
    </section>
    {{/each}}

    {{!-- Section for children --}}
    {{#if children}}<h2>Barn</h2>{{/if}}
    {{#each children}}
    <section>
      <table>
        {{#if this.personalNumber}}
        <tr>
          <td>Personnummer</td>
          <td>{{this.personalNumber}}</td>
        </tr>
        {{/if}}

        {{#if this.firstName}}
        <tr>
          <td>Förnamn</td>
          <td>{{this.firstName}}</td>
        </tr>
        {{/if}}

        {{#if this.lastName}}
        <tr>
          <td>Efternamn</td>
          <td>{{this.lastName}}</td>
        </tr>
        {{/if}}

        {{#if this.housing}}
        <tr>
          <td>Boendet</td>
          <td>{{this.housing}}</td>
        </tr>
        {{/if}}

        {{#if this.school}}
        <tr>
          <td>Skola</td>
          <td>{{this.school}}</td>
        </tr>
        {{/if}}
      </table>
    </section>
    {{/each}}

    {{!-- Section for housing --}}
    <section>
      {{#with housing}}
      <h2>Bostad</h2>
      <table>
        <tr>
          <td>Adress</td>
          <td>
            {{streetAddress}}
          </td>
        </tr>
        <tr>
          <td>Postnummer</td>
          <td>
            {{postalCode}}
          </td>
        </tr>
        <tr>
          <td>Ort</td>
          <td>
            {{postalAddress}}
          </td>
        </tr>
        <tr>
          <td>Boendeform</td>
          <td>
            {{this.contract}}
          </td>
        </tr>
        <tr>
          <td>Antal boenden i bostaden</td>
          <td>
            {{numberpeopleLiving}}
          </td>
        </tr>
      </table>
      {{else}}
      <p>Uppgifter om bostad saknas</p>
      {{/with}}
    </section>

    {{!-- Section for expenses --}}
    <section>
      <h1>Utgifter</h1>
      {{!-- Sub section for showing housing expenses --}}
      {{#if financials.expenses.housing}}
      <section>
        <h2>Kostnader för boende</h2>
        <table>
          {{#each financials.expenses.housing}}
          <tr>
            <td>
              {{this.title}} {{this.description}}
            </td>
            <td>
              <span>
                {{this.value}} {{this.currency}}
              </span>
              {{#if this.date}}
              <span>
                {{this.date}}
              </span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </table>
      </section>
      {{/if}}

      {{!-- Sub section for showing appliacnt expenses --}}
      {{#if financials.expenses.applicant}}
      <section>
        <h2>Sökandes utgifter</h2>
        <table>
          {{#each financials.expenses.applicant}}

          <tr>
            <td>
              {{this.title}} {{this.description}}
            </td>
            <td>
              <span>
                {{this.value}} {{this.currency}}
              </span>
              {{#if this.date}}
              <span>
                {{this.date}}
              </span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </table>
      </section>
      {{/if}}

      {{!-- Sub section for showing co-appliacnt expenses --}}
      {{#if financials.expenses.coApplicant}}
      <section>
        <h2>Medsökandes utgifter</h2>
        <table>
          {{#each financials.expenses.coApplicant}}
          <tr>
            <td>
              {{this.title}} {{this.description}}
            </td>
            <td>
              <span>
                {{this.value}} {{this.currency}}
              </span>
              {{#if this.date}}
              <span>
                {{this.date}}
              </span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </table>
      </section>
      {{/if}}

      {{!-- Sub section for showing children expenses --}}
      {{#if financials.expenses.children}}
      <section>
        <h2>Utgifter för barn</h2>
        <table>
          {{#each financials.expenses.children}}
          <tr>
            <td>
              {{this.title}} {{this.description}}
            </td>
            <td>
              <span>
                {{this.value}} {{this.currency}}
              </span>
              {{#if this.date}}
              <span>
                {{this.date}}
              </span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </table>
      </section>
      {{/if}}

      {{#unless financials.expenses}}
      <p>Inga utgifter att redovisa</p>
      {{/unless}}
    </section>

    {{!-- Section for incomes --}}
    <section>
      <h1>Inkomster</h1>
      {{!-- Sub section for showing appliacnt incomes --}}
      {{#if financials.incomes.applicant}}
      <section>
        <h2>Sökandes inkomster</h2>
        <table>
          {{#each financials.incomes.applicant}}
          <tr>
            <td>
              {{this.title}} {{this.description}}
            </td>
            <td>
              <span>
                {{#if this.value}}
                {{this.value}} {{this.currency}}
                {{/if}}
              </span>
              {{#if this.date}}
              <span>
                {{this.date}}
              </span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </table>
      </section>
      {{/if}}

      {{!-- Sub section for showing co-appliacnt incomes --}}
      {{#if financials.incomes.coApplicant}}
      <section>
        <h2>Medsökandes inkomster</h2>
        <table>
          {{#each financials.incomes.coApplicant}}
          <tr>
            <td>
              {{this.title}} {{this.description}}
            </td>
            <td>
              <span>
                {{#if this.value}}
                {{this.value}} {{this.currency}}
                {{/if}}
              </span>
              {{#if this.date}}
              <span>
                {{this.date}}
              </span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </table>
      </section>
      {{/if}}

      {{!-- Sub section for showing resident incomes --}}
      {{#if financials.incomes.resident}}
      <section>
        <h2>Pengar från inneboende</h2>
        <table>
          {{#each financials.incomes.resident}}
          <tr>
            <td>
              {{this.title}} {{this.description}}
            </td>
            <td>
              <span>
                {{this.value}} {{this.currency}}
              </span>
              {{#if this.date}}
              <span>
                {{this.date}}
              </span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </table>
      </section>
      {{/if}}

      {{#unless financials.incomes}}
      <p>Inga inkomster att redovisa</p>
      {{/unless}}
    </section>

    {{!-- Section for assets --}}
    <section>
      <h1>Tillgångar</h1>
      <table>
        {{#each assets}}
        {{#if this.value}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.value}} {{this.currency}}</td>
        </tr>
        {{/if}}
        {{/each}}

        {{#unless assets}}
        <p>Inga tillgångar att redovisa</p>
        {{/unless}}
      </table>
    </section>

  </body>

</html>